/* *{
    background-color: white;
} */
:root {
    --background: 255, 6%, 5%;
    --foreground: 255, 6%, 98%;
}

body {
    font-family: "Inter", sans-serif;
    background-color: white;
    color: hsl(var(--foreground));
    margin: 0;
    padding: 0;
    color:black;
    
}
h2{
    color:black;
    font-size:sans-serif;
    margin-left:20px;
}
/* #map {
    height: 500px;
} */

.leaflet-tile-container img {
    width: 256.5px !important;
    height: 256.5px !important;
}
/* gives more specific measurement seams/lines between tiles */

.leaflet-container {
    background: transparent;
}

.leaflet-popup-content {
    font-size: 1rem;
    font-weight: 800;
}

/* .tns-icon-marker {
    border-radius: 999px;
} */

/* #map{
    width:600px;
    height:600px;
} */
#map-container{
    padding: 16px;
    height: 95vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#map {
    width: 100%; /* Adjust the width as needed (80% of the viewport width) */
    height: 90vh; /* 80% of the viewport height; adjust as needed */
    margin: 0 auto; /* Center the map horizontally */
    border: 2px solid #bfbbbb; /* Add a border for visualization */
    padding:10px;
}
/* #ring-of-fire-button{
    padding:10px;
} */
#timestamp{
color:rgb(67, 66, 66);
}
button{
    padding:10px;
    margin:10px;
    border:lightgoldenrodyellow 1px solid;
    background-color:#eeeaea;
    border-radius:50px;
}
#clock{
    color:black;
    margin: 15px;
    font-size:118%;
    padding:2px;
    /* background-color:rgb(215, 246, 169); */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
#clock-text{
    color:black;
}
#earthquake-info {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: rgba(255, 255, 255, 0.7);
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
}

#timestamp {
    font-family:sans-serif;
    margin:10px;
}
#timeline-slider{
    margin:0 auto;
}
